article {
    margin-left: 5%;
}
#project_name{
    text-decoration: underline;
}

#short_description {
    display: inline-block;
    width: 70%;
    margin-left: 5%;    
}

#picture {
    display: inline-block;
    margin: 1%;
    margin-left: 0%;
}
#scroll{
    margin-top: 100px;
}
