form{

    width: 5%;

}

input[type=submit]{
    margin-top: 10%;
    margin-left: 10%;
}

article {
    width: 60%;
    margin-right: 5%;
    margin-top: 1%;
    border: solid black;
    height: auto;
    float:right;
}

article  > img{
    float: right;
    clear:both;
    max-width: 15%;
}

article > a > p {
    padding: 1%;
}

.end_date{
    float: right;
}

img{
    margin: 1%;
    position: relative;
    width: 20%;
    height: auto;
}

article > a:link {
    text-decoration: none;
    color: black;
}

article > a:visited {
    text-decoration: none;
    color: black;
}

article > a:hover {
    text-decoration: underline;
    color: black;
}
