form{

    width: 5%;

}

input[type=submit]{
    margin-top: 10%;
    margin-left: 10%;
}

article {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: solid black;
    height: auto;
    float: right;
    margin-right: 5%;
}

article > img{
    float: right;
}

article > p {
    padding: 1%;
}

.end_date{
    float: right;
}

img{
    margin: 1%;
    position: relative;
    width: 20%;
    height: auto;
}


