{% extends "template.html" %}
{% block body %}
<link href="../static/stylesheets/index.css" rel="stylesheet" type="text/css" />

<article id="description">
    <h1>Hej och välkommen!</h1>
    <p>Bacon ipsum dolor amet shank fatback capicola ham tri-tip ground round kevin kielbasa strip steak landjaeger sirloin shankle. Picanha shank alcatra, swine tail tongue beef filet mignon venison. Pork belly cupim kevin, cow porchetta ham hock tri-tip meatball pork loin short loin ground round sirloin short ribs shoulder. Kielbasa rump ham filet mignon turducken. Short loin tail beef ribs shoulder kielbasa, spare ribs pig brisket bresaola ball tip.

Shankle tongue beef ribs, strip steak ground round flank andouille kevin swine. Pig pork beef shoulder, brisket chicken jowl burgdoggen short loin. Short ribs pork chop kielbasa pork corned beef pork belly. Cow turducken ball tip shoulder bresaola filet mignon jerky.</p>
</article>

{% for project in projects  %}

<article class="project">
<img src="{{ project['big_image'] }}" alt="sadd_replace_me">
<a href="{{ url_for('project', id=project['project_id'])}}">
    
    <p class="project_name"> {{ project['project_name']  }}</p>
    <p class="long description">{{ project['short_description'] }}</p>
    <p class="end_date">End date: {{ project['end_date'] }}</p>
    <p class="start_date">Start date: {{ project['start_date'] }}</p>  
</a>
    </article>

  {% endfor %}


{% endblock %}
