{% extends "template.html" %}
{% block body %}
 

<link href="../static/stylesheets/list.css" rel="stylesheet" type="text/css" />

<form method="get">
<input type="text" id="searchBox" name="search_word" placeholder="Sök">
<select id="sort_by" name="sort_by">
    <option value="start_date">Sortera efter:</option>
    {% for i in keys %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
</select> 
<select id="sort_order" name="sort_order">
    <option value="asc">Stigande</option>
    <option value="desc">Fallande</option>  
</select>
<select id="lst_techniques" multiple="multiple" name="tech_lst">
        {% for t in tech %}
        <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
</select>
<select id="lst_fields" multiple="multiple" name="field_lst">
        {%  for i in keys %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
</select>
<input type="submit" id="btnSelected" value="Sök" />
</form>

  {% for project in projects  %}

<article>
<img src="{{ project['big_image'] }}" alt="sadd_replace_me">
<a href="{{ url_for('project', id=project['project_id'])}}">
    
    <p class="project_name"> {{ project['project_name']  }}</p>
    <p class="long description">{{ project['short_description'] }}</p>
    <p class="end_date">End date: {{ project['end_date'] }}</p>
    <p class="start_date">Start date: {{ project['start_date'] }}</p>  
</a>
    </article>

  {% endfor %}
<script type="text/javascript">
        $(function () {
            $('#lst_techniques').multiselect({
                includeSelectAllOption: true,
                nonSelectedText: "Tekniker:"
            });
            $('#lst_fields').multiselect({
                includeSelectAllOption: true,
                nonSelectedText: "Sök i:"
            });
        });

$.urlParam = function(name){
	var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
	return results[1] || 0;
}
console.log(decodeURIComponent($.urlParam('tech_lst')));
if($.urlParam('search_word')){
$("#searchBox").val($.urlParam('search_word'))
}

if($.urlParam('sort_by')){
$("#sort_by").val($.urlParam('sort_by'))
}

if($.urlParam('sort_order')){
$("#sort_order").val($.urlParam('sort_order'))
}

if($.urlParam('tech_lst')){
$("#lst_techniques").val($.urlParam('tech_lst'))
}


    </script>
{% endblock %}
